NEXT_PUBLIC_SUPABASE_URL=https://wqlpsabketczabrbeteg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndxbHBzYWJrZXRjemFicmJldGUiLCJyb2xlIjoiYW5vbiIsImlhdCI6MTc4OTkxMDkxMCwiZXAiOjIwOTU0ODY6MTB9.30TdPbTpTM4AGQ6QR35emprw57GCYEHGuAfsCDSTU5s
NEXT_PUBLIC_ADMIN_EMAIL=admin@sokoyangu.co.ke
